.cart {
  padding: 4em 3em;
}

.cart .cover {
  height: 330px;
}

.cart .item article {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.cart .item-cover {
  transition: transform 0.2s;
}

.cart .item-cover:hover {
  transform: scale(1.05);
}

.cart .purchase-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.cart .price {
  font-size: 1.3em;
}

.cart .counter-controls {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 1.2em;
}

.cart .delete {
  padding: 0 1em;
  font-size: 0.8em;
  height: 80%;
}

.cart hr {
  margin: 2em 0;
}

.cart .checkout {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2em;
  margin-top: 5em;
  font-weight: 700;
  font-size: 1.2em;
}

.cart .checkout-btn {
  font-size: 1.1em;
  padding: 0.4em 1em;
}
