.cart {
  padding: 4em 6em;
  max-width: 1440px;
  margin: 0 auto;
}

.cart .item-cover {
  height: 330px;
  transition: transform 0.2s;
  width: fit-content;
  margin: 0 auto;
}

.cart .item-cover:hover {
  transform: scale(1.05);
}

.cart .price {
  font-size: 1.6em;
  font-weight: 700;
  margin: 0.5em 0;
}

.cart .delete {
  margin-top: 0.5em;
  padding: 0 1em;
  font-size: 0.8em;
  height: 80%;
}

.cart hr {
  margin: 2em 0;
}

.cart .checkout {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2em;
  margin-top: 5em;
  font-weight: 700;
  font-size: 1em;
}

.cart .checkout-btn {
  padding: 0.4em 1em;
}

/* mobile display */
@media screen and (max-width: 767px) {
  .cart {
    padding: 4em 2em;
  }

  .cart .checkout {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}