.details {
  padding: 2em;
}

.details section {
  display: flex;
  justify-content: center;
  gap: 2.5em;
}

.details h2 {
  font-size: 3vw;
}

.details .info {
  margin: 1em 0;
}

.details .summary {
  text-align: justify;
  margin: 1.5em 0;
}

.details .price {
  font-weight: 700;
  font-size: 2.8vw;
}

.details footer {
  margin-top: 3em;
}

.details .add-to-cart {
  color: #000;
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1.8vw;
  border-radius: 5px;
}

.details .add-to-cart:active {
  transform: scale(0.98);
}

.details .add-to-cart:hover {
  color: #fff;
}
