.details {
  padding: 2em;
  max-width: 1440px;
  margin: 0 auto;
}

.details section {
  display: flex;
  justify-content: center;
  gap: 2.5em;
}

.details h2 {
  font-size: 2em;
}

.details .info {
  margin: 1em 0;
}

.details .summary {
  text-align: justify;
  margin: 1.5em 0;
}

.details .price {
  font-weight: 700;
  font-size: 1.5em;
}

.details footer {
  margin-top: 3em;
}

.details .cart-btn {
  margin-top: 0.5em;
}

.details .add-to-cart {
  padding: 0.5em 1em;
}

/* mobile display */
@media screen and (max-width: 767px) {
  .details section {
		flex-direction: column;
    align-items: center;
    gap: 1em;
	}

  .details .cover {
    height: 370px;

  }

  .details .summary {
    text-align: center;
  }

  .details footer {
    margin: 0;
  }
}