.details {
  display: flex;
  height: fit-content;
  width: fit-content;
  margin: 1.5em auto;
  padding: 2em 0 2em 2em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.details section {
  margin: 0 3em;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}

.details-title {
  font-weight: bolder;
  font-size: 2em;
  margin: 0;
}

.details-summary {
  text-align: justify;
  text-justify: auto;
}

.details-price {
  margin-top: 1em;
  font-weight: bolder;
  font-size: 1.2em;
}

.details-add-btn {
  width: fit-content;
  display: flex;
  align-self: center;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: rgb(255, 208, 0);
  border: none;
  border-radius: 5px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}

.details-add-btn:active {
  transform: scale(0.98);
}

.details-add-btn:hover {
  background-color: rgba(255, 208, 0, 0.5);
}
