.footer {
  padding: 1em;
  font-size: 0.7em;
}

.license {
  margin-bottom: 0.5em;
}

.license span {
  margin-left: 0.5em;
}

/* tablet display */
@media screen and (max-width: 1023px) {
  .license img {
    height: 10px;
  }
}