.home {
  padding: 3em 0;
}

/* sections with top movies and tv shows */
.top-releases {
  width: fit-content;
  margin: 0 auto 5em auto;
  max-width: 100%;
}

.home h2 {
  margin: 0 0 2em 2em;
  padding: 1em 1.5em;
  width: fit-content;
  border-radius: 5px;
  text-transform: uppercase;
} 

/* list of movie/show covers */
.release-list {
  display: flex;
  gap: 2em;
  overflow-x: scroll;
  padding: 1em 2em;
}

/* invidivual movie/show covers */
.release-list li {
  height: 400px;
  transition: transform 0.2s;
}

.release-list li:hover {
  transform: scale(1.05);
}

/* mobile display */
@media screen and (max-width: 767px) {
	.top-releases:nth-child(2) {
    margin-bottom: 0;
  }

  .home h2 {
    margin: 0 auto 2em auto;
  }
}