.top-releases {
  border-radius: 5px;
  padding: 2.5em;
  margin: 2.5em;
}

.home h2 {
  margin-bottom: 2.5em;
  width: fit-content;
  padding: 1em 1.5em;
  border-radius: 5px;
  font-size: 1.7vw;
  text-transform: uppercase;
}

.release-list {
  display: flex;
  gap: 2em;
  overflow-x: scroll;
  padding: 1em;
}

.release-list li {
  transition: transform 0.2s;
}

.release-list li:hover {
  transform: scale(1.05);
}