@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  text-align: center;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
box-sizing: inherit;
}