/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
 * Typography
 */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,900&family=Kanit:wght@300&family=Roboto+Mono:wght@300;400;700&display=swap');

/* set default font */
body {
	font-family: 'Roboto Mono', monospace;
}

/* set font for website title */
h1 {
	font-family: 'Alegreya Sans', sans-serif;
}

.cover-font {
	font-family: 'Kanit', sans-serif;
}

h2 {
	font-weight: 700;
}

p {
	line-height: 1.5;
}

/*
 * Links and buttons
 */

a {
	color: inherit;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
}

button {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	border: none;
	background: transparent;
	font-weight: inherit;
}

button:hover {
	cursor: pointer;
}

.primary-btn {
	color: #000;
	border-radius: 5px;
}

.primary-btn:hover {
	color: #fff;
}

.primary-btn:active {
	transform: scale(0.98);
}

/* applies to section headings on home page */
.hovered-links:hover {
	background: #fff;
	color: rgb(211, 134, 34);
}

/*
 * Backgrounds
 */

.primary-background {
	background: rgb(211, 134, 34);
}

.cover-header-bg {
	background: rgb(49, 148, 206);
}

.button-bg {
	background: rgb(255, 208, 0);
}

.button-bg:hover {
	background: rgb(211, 134, 34);
}

/*
 * Inputs
 */

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	outline: none;
	text-align: inherit;
	border-radius: 5px;
	background: transparent;
}

/* removes default up and down arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

/*
 * Responsiveness
 */

.mobile {
	display: none;
}

/* tablet display */
@media screen and (max-width: 1023px) {
	/* shrink font size across website */
	body {
		font-size: 0.9em;
	}
}

/* mobile display */
@media screen and (max-width: 767px) {
	.mobile {
		display: block;
	}

	.regular-display {
		display: none;
	}
}