.navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.navigation h1 {
  font-style: italic;
  white-space: nowrap;
  font-size: 2.5em;
}

/* list of menu items */
.navigation ul {
  display: flex;
  align-items: center;
  gap: 2em;
}

/* individual menu items */
.navigation ul li:hover {
  color: #000;
  font-weight: 700;
}

.cart-icon a {
  display: flex;
  align-items: center;
}

.cart-icon svg {
  height: 1.2em;
  filter: invert(100%);
  margin-right: 0.4em;
}

.cart-icon a:hover svg {
  filter: none;
}

/* mobile display */
@media screen and (max-width: 767px) {
  .navigation nav {
    padding: 0.5em 1em;
  }

  .navigation ul {
    gap: 1em;
  }
}
