.navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.navigation h1 {
  font-style: italic;
  white-space: nowrap;
  font-size: 3vw;
}

.navigation ul {
  display: flex;
  align-items: center;
}

.navigation li {
  margin: 0 1em;
}

.cart-icon a {
  display: flex;
  align-items: center;
}

.cart-icon img {
  height: 2vw;
  filter: invert(100%);
  margin-right: 0.4em;
}

.cart-icon a:hover img {
  filter: none;
}

@media screen and (max-width: 767px) {
  
}
