.sidebar {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: left;
}

.sidebar li {
  margin-bottom: 1.5em;
}

.sidebar a {
  transition: all 0.2s;
}

.selected {
  font-style: italic;
  margin-left: 1em;
  color: rgb(211, 134, 34);
}