.sidebar {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar li {
  margin: 1.5em 0;
}

.sidebar a {
  transition: all 0.2s;
}

.selected {
  font-style: italic;
  padding-left: 0.5em;
  color: rgb(20, 80, 150);
}