.store {
  display: flex;
  padding: 2em;
}

.store aside {
  flex-basis: 20%;
}

.items {
  flex-basis: 80%;
}

.items ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}

.items li {
  transition: transform 0.2s;
}

.items li:hover {
  transform: scale(1.05);
}

.store .cover {
  height: 400px;
}

.store .price {
  margin-top: 0.5em;
  font-weight: 700;
  font-size: 1.3em;
}